@keyframes scroll-parallax {
    to {
        transform: translate(var(--translate-to-x), var(--translate-to-y));
    }
}

@keyframes scroll-vertical {
    to {
        transform: translateY(-50%);
    }
}

@keyframes scroll-width {
    to {
        width: var(--stretch-to-width);
    }
}


@keyframes squiggly-anim {
    0% {
      filter: url("#squiggly-0");
    }
    25% {
      filter: url("#squiggly-1");
    }
    50% {
      filter: url("#squiggly-2");
    }
    75% {
      filter: url("#squiggly-3");
    }
    100% {
      filter: url("#squiggly-4");
    }
}


@keyframes getintouch {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }