.footer{
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    .left-side, .right-side{
        flex: 1;
        padding: 4rem;
    }
    .right-side{
        align-items: flex-start;
        flex-direction: column;
        padding-left: 1rem;
        form{
            width: 100%;
            margin-top: 1rem;
        }
    }
    .left-side{
        padding-right: 1rem;
    }
    .footer-content{
        width: 100%;
        max-width: 800px;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h1{
            font-size: 80px;
            margin-bottom: -10px;
        }
        p{
            font-size: 25px;
            font-weight: 200;
        }
        .social-container{
            margin: 0;
            flex-direction: row;
            .socialBox{
                color: black;
            }
        }
    }
}



@media only screen and (max-width: 900px) {
    .footer{
        flex-direction: column-reverse;
        .right-side{
            padding-left: 4rem;
        }
        .left-side{
            .footer-content{
                h1{
                    font-size: 68px;
                }
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    .footer{
        .right-side, .left-side{
            padding: 2rem 1rem;
        }
        .left-side{
            padding-bottom: 4rem;
        }
        .left-side{
            .footer-content{
                h1{
                    line-height: 0.9;
                }
                p{
                    margin-top: 10px;
                }
            }
        }
    }
}