@theme {
  --breakpoint-xs: 30rem;
}

html {
  scroll-behavior: smooth;
}

.intro {

  position: absolute;

  section {
    z-index: 1;
    position: relative;
    height: 100vh;
    padding-left: 10vw;

    .section-content {
      padding: 1rem;
    }
  }

  h1 {
    font-size: 2rem !important;
    // background: white;
    color: white;
    // display: inline-block;
    // padding: 10px 15px;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 0 !important;
  }

  h1.my-name {
    font-size: 5rem !important;
    margin-left: -4px;
    line-height: 1;
  }

  h1.highlighted {
    font-size: 3.4rem !important;
    margin-left: -4px;
    line-height: 1;
  }

  p {
    font-size: 1.2em;
    color: #DBA622;
    // background: #00000065;
    // padding: 0.4rem;
    // border-radius: 0 0 6px 6px;
  }

  .learn-more {
    display: flex;
    align-items: center;
    color: #8c8c8c;
  }

  .lottie-player {
    width: 80px;
    height: 100%;

    path {
      fill: #8c8c8c;
    }
  }

  .lf-player-container {
    height: 30px;
  }

  .section-content {
    position: sticky;
    position: -webkit-sticky;
    width: fit-content;
    top: 33.3%;
  }

}


.my-img-bg {
  width: 100%;
  height: 500vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: -1;

  .bg-me {
    position: sticky;
    top: 0;
    left: 50%;
    height: 100vh;
    // object-fit: contain;
    object-fit: cover;
    max-width: 100%;
  }
}

#v0 {
  width: 100%;
  height: 500vh;
  position: relative;

  canvas {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top center;
    mix-blend-mode: lighten;
  }

}

#images {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
  aspect-ratio: auto;
}


@media only screen and (max-width: 600px) {
  .header {
    .menu-item-home {
      display: none;
    }
  }

  .intro {
    section {
      padding-left: 1rem;

      .section-content {
        top: 50%;
      }
    }
  }
}