#social-media-container{
    // display: none;
    // height: 180px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.show-social{
    height: 180px;
    width: 460px !important;
    border-radius: 30px;
}

.social-container{
    // margin: 2rem 0 0 2rem;
    display: flex;
}

.socialBox{
    margin-top: 1rem;
    padding: 0.1rem;
    color: white;
    text-decoration: none;
    font-size: larger;
}

.socialBox:hover{
    color: #01ff40;
}

.social-icon{
    width: 30px;
    height: 30px;
    fill: white;
    margin: 0 8px;
}
